# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
.next/
out/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Firebase & Secrets
*.json
!package.json
!tsconfig.json
!nest-cli.json
!package-lock.json
servis-hesabi.json
NationalStoreWebApp.json
